net "salida<6>" loc="N9"; #A
net "salida<5>" loc="L10"; #B 
net "salida<4>" loc="M7"; #C 
net "salida<3>" loc="N6"; #D 
net "salida<2>" loc="L7"; #E 
net "salida<1>" loc="P8"; #F 
net "salida<0>" loc="P7"; #G
net "pause" loc="P9"; #pausa
net "reset" loc="R9"; #reset
net "habilita<3>" loc="M9"; #AN3
net "habilita<2>" loc="M10"; #AN2
net "habilita<1>" loc="P11"; #AN1
net "habilita<0>" loc="M11"; #AN0
net "clk" loc="C10"; #CLOCK